@font-face {
    font-family: 'IRANSansWebFaNum';
    src: url('IRANSansWebFaNum-Medium.woff2') format('woff2'),
        url('IRANSansWebFaNum-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

